.photo {
  width: 90px;
}

.navbar {
  background-color: brown;
}

.lienNav {
  color: white;
  text-decoration: none;
}

.form {
  display: flex;
  flex-direction: column;
  width: 250px;
}
